@charset "UTF-8";

@media screen and (min-width:1024px) and (max-width:1920px) {
    ::-webkit-scrollbar{
        width: 0px;
    }
    
    header img{
        width: 120px;
    }
    
    header{
        margin-bottom: 40px;
    }

    h2{
        font-size: 2.6em;
        margin-bottom: 60px;
    }
    
    h3{
        font-size: 1.6em;
        margin-bottom: 30px;
    }
    
    main p {
        margin: 0px auto 30px auto;
        width: 85vw;
        font-size: 1.2em;
    }
    
    section.banner{
        margin-bottom: 100px;
    }
    
    #banner-tittle{
        margin-bottom: 30px;
        font-size: 3em;
    }

    div.banner{
        display: flex;
        flex-direction: column;
    }

    section.banner button{
        width: 165px;
    }
    
    img{
        width: 30vw;
    }
    
    section.beneficios{
        margin-bottom: 30px;   
    }   
    
    div.slider{
        padding: 5px;
        margin-bottom: 30px;
    }
    
    div.slider span{
        width: 50px;
        border-radius: 20px;
    }

    section.modelos{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    section.modelos div{
        width: 50vw;
    }

    div.modelo-front h4{
        font-size: 1.2em;
        display: block;
        margin-bottom: 80px;
        color: green;
      }

    div.modelo-front-and-back h4{
        font-size: 1.2em;
        display: block;
        color: green;                                                                                   
    }
    
    div.modelo-front-and-back h3#modelo2{
        margin-bottom: 30px;
    }
    
    section.modelos p{
        display: none;
        width: 85vw;
        margin: 0px auto 80px auto;
    }
    
    section.entrega h2{
        margin-bottom: 30px;
    }
    
    section.entrega p{
        margin-bottom: 10px;
    }

    section.entrega span{
        margin-bottom: 40px;
    }

    section.contatos img{
        width: 25px;
        margin-bottom: 50px;
    }
    
    section.contatos a{
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }
    
    section.contatos h2{
        margin-bottom: 30px;
    } 

    footer{
        padding: 5px 0px 5px 0px;
    }
}
