@charset "UTF-8";

@media screen and (max-width: 600px){


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Madimi One", sans-serif;
}

body{
    
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.863);
    width: 100vw;
    height: 100vh;
    color: white;
    
    
}

::-webkit-scrollbar{
    width: 0px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100vw;
    margin: auto;
    margin-bottom: 30px;
    padding: 15px;
    box-shadow: 1px 1px 13px 0px black;
}

main{
    width: 100vw;
    height: 100vh;
}

header img{
    width: 100px;
}

section.banner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    flex-shrink: 1;
    text-align: center;
    margin-bottom: 100px;
   
   
}

section.banner h1{
    margin-bottom: 16px;
    font-weight: 900;
    font-size: 2.3em;
}

section img{
    width: 70vw;
    margin: auto;
    text-align: center;
    
}

section.banner p{
    font-size: 1.3em;
    width: 60vw;
    margin: auto;
    text-align: justify;
    font-weight: 900;
}

section.beneficios{
    width: 100vw;
    padding-left: 10px;
    text-align: center;
    margin-bottom: 30px;
}

section.beneficios h1{
    text-align: center;
    font-size: 1.7em;
    margin-bottom: 80px;
}

section.slider{
    display: flex;
    width: 100vw;
    justify-content: center;
    padding: 5px;
}

section.slider span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    cursor: pointer;
    border-radius: 20px;
}

section.slider img{
    
}

section.slider span:hover{
    transition: all 0.3s ease;
    background-color: rgba(0, 0, 0, 0.589);
}

section.slider span:active{
    transition: all 0.3s ease;
    background-color: rgba(0, 0, 0, 0.589);
}

}